*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
:root {
    --bg-color:#000000;
    --snd-bg-color:#111;
    --text-color:#ffffff;
    --main-color:#ffaa00;
}
html{
    font-size: 70.5%;
    overflow-x: hidden;
    
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
    opacity: 0.9;
}
section{
    min-height: 100vh;
    padding:10rm 8% 2rem ;
}

/* header section code  */
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--bg-color);
    padding: 1rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: all 0.5s ease;
}
.logo{
    color: var(--text-color);
    font-size: 3rem;
    font-weight: 800;
    cursor: pointer;
    transition:  0.3s ease-in-out;
}
.logo:hover{
    transform: scale(1.1);
}

span{
    color: var(--main-color);
}
.navbar{
    display: flex;
    
}
.navbar a{
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 500;
    margin-left: 4rem;
    padding: 0.5rem 1rem;
    border-bottom:  3px solid transparent;;
    transition: all 0.5s ease;
}

.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
.top-btn a {
    margin-right: 20px; /* Add margin to the right of each button */
}

.top-btn a:last-child {
    margin-right: 0.5; /* Remove margin from the last button */
}

.nav-btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: transparent;
    font-size: 1.6rem;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 1rem;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.5s ease;
}
.nav-btn:hover{
    background-color: var(--main-color);
    color: var(--text-color);
    box-shadow:0 0 16px var(--main-color) ;
}

#menu-icon{
    display: none;
    font-size: 3.6rem;
    color: var(--main-color);
    cursor: pointer;

}

/* Home section code  */

.home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content h3{
    font-size: 5rem;
    font-weight: 700;
}

.home-content span{
    font: size 4rem;;
    font-weight: 550;
}
span{
    color: var(--main-color);
}

.home-content h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-img img{
    width:  45vw;

}

.home-img::before {
    content: 'FITNESS';
    position: absolute;
    top: 10%;
    left: 30%;
    transform: translateX(-50%);
    font-size: 20rem;
    font-weight: 400;
    line-height: 20rem;
    color: var(--text-color);
    opacity: 0.1;
    z-index: -1;
}

.home-content p{
    font-size: 1.6rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 1rem;
    box-shadow: none;
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition:  0.5s ease;

}

.btn:hover{
    color: var(--text-color);
    box-shadow: 0 0 1.6rem var(--main-color);
}


/* Services section styles */
.services {
    padding: 5rem 2rem;
    text-align: center;
}

.services .heading {
    font-size: 5rem;
    margin-bottom: 2rem;
}

.services-content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.row {
    background: var(--bg-color);
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1 1 300px;
}

.row img {
    max-width: 50%;
    max-height: 50%;
    border-radius: 2rem;
    margin-bottom: 2rem;
}

.row h4{
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 14px;
    line-height: 1.4;
}

.row:hover{
    border: 2px solid var(--main-color);
    transform: translateY(-5px); scale: (1.04);
    cursor: pointer;
}


/* about section code */

/* About section styles */
.about {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 5rem 2rem;
    justify-content: center;
    align-items: center;
}

.about-img img {
    max-width: 100%;
    border-radius: 1rem;
}

.about-content {
    max-width: 600px;
    text-align: center;
}

.about-content .heading {
    font-size: 6rem;
    margin-bottom: 2rem;
}

.about-content p {

    margin: 1rem 0;
}


/* Contact section code */ 


.contact {
    padding: 5rem 0;
    text-align: center;
    background-color: var(--snd-bg-color);
}

.contact .heading {
    font-size: 6.5rem;
    margin-bottom: 4rem;
}

.contact-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 3rem;
    flex-wrap: wrap;
}

.contact-info, .contact-form {
    flex: 1;
    min-width: 300px;
    max-width: 500px;
    background: var(--bg-color);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.contact-info h3, .contact-form h3 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.contact-info p {
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info ul li {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.contact-info ul li i {
    font-size: 2rem;
    margin-right: 1rem;
    color: var(--main-color);
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form form input, .contact-form form textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border: 1px solid var(--main-color);
    border-radius: 0.5rem;
    background: var(--bg-color);
    color: var(--text-color);
}

.contact-form form button {
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border: none;
    border-radius: 1rem;
    color: var(--bg-color);
    font-size: 1.6rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

.contact-form form button:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
    box-shadow: 0 0 1.6rem var(--main-color);
}


/* Footer section code  */

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background: var(--snd-bg-color);
}

.footer .social{
    text-align: center;
    padding-bottom: 20px;
    color: var(--main-color);
}

.footer .social a{
    font-size: 40px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease-in-out;
}

.footer .social a:hover{
    transform: scale(1.3) translate3d(-10px);
    background: var(--main-color);
    color: #131313;
    box-shadow: 0 0 25px var(--main-color);
}

.footer .copyright {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color:var(--text-color);
}

/* scrollbar  design  */

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 50px;
}

/* Responsive design code  */

#menu-icon {
    display: none;
    font-size: 3.6rem;
    color: var(--main-color);
    cursor: pointer;
}
@media (max-width: 768px) {
    .navbar {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
}
    .navbar.active {
        display: flex;
    }

    #menu-icon {
        display: block;
    }

@media (max-width:1200px) {
    html{
        font-size: 55%;
    }
}

@media (max-width:991){
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 255px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        transition: all 0.5s ease;
    }
    .navbar a {
        display: block;
        padding: 17px ;
        font-size: 22px;
    }
    .navbar.active {
        right: 0;
    }
    .header{
        padding: 2rem 3%;
    }
    .section {
        padding: 10rem 3%;
    }
    .services {
        padding: 7rems;
    }
    .about-content h2 {
        margin-top: 2rem;
        text-align: center;
        font-size: 5rem;
    }
    .contact .wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
    .footer {
        padding: 40px 0;
    }
}

@media (max-width:786){
    .home {
        flex-direction: column;
        
    }
    .home-content h3{
        font-size: 4.5rms;
        margin-top: 1.5rem;
        
    }
    .home-content h1{
        font-size: 5rem;
        margin-top: 1.5rem;
    }
    .home-content{
        order: 2;
    }
    .home-img img{
        width: 80vw;
        margin-top: 4rem;
        
    }
    .about{
        flex-direction: column;
    }
    .about-img img{
        width: 80vw;
        margin-top: 4rem;
    }
    .about-content{
        text-align: center;
    }
    .about-content h2{
        text-align: center;
    }
    .about-content h2 {
        margin-bottom: 3rem;
    }
}

@media (max-width :617) {
    .home-img {
        width: 80px;
        margin-top: 8rem;

    }
    .about-img img {
        width: 80vw;
        margin-top: 4rem;
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }
}


/* Login section code */


.login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   
    background-image:url('assets/lg.png');
    background-size: cover;
    padding: 5rem 0;
}
.login-header {
    text-align: center;
    font-size: large;
    margin-bottom: 2rem;
}

.login-content {
    background: var(--snd-bg-color);
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

.login-content h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: var(--main-color);
}

.login-content form {
    display: flex;
    flex-direction: column;
}

.login-content form input {
    width: 100%;
    padding: 1rem;
    margin-bottom: 5rem;
    border: 1px solid var(--main-color);
    border-radius: 0.5rem;
    background: var(--bg-color);
    color: var(--text-color);
}

.login-content form button {
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border: none;
    border-radius: 1rem;
    color: var(--bg-color);
    font-size: 1.6rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

.login-content form button:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
    box-shadow: 0 0 1.6rem var(--main-color);
}

.login-content p {
    margin-top: 2rem;
    font-size: 1.6rem;
    color: var(--text-color);
}

.login-content p a {
    color: var(--main-color);
    text-decoration: none;
}

.login-content p a:hover {
    text-decoration: underline;
}


/* Signup section code */
.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('path/to/your/background-image.jpg') no-repeat center center/cover; /* Add background image */
    padding: 5rem 0;
}

.signup-content {
    background: rgba(255, 255, 255, 0.8); /* Add a semi-transparent background to the signup form */
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

.signup-content h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: var(--main-color);
}

.signup-content form {
    display: flex;
    flex-direction: column;
}

.signup-content form input {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border: 1px solid var(--main-color);
    border-radius: 0.5rem;
    background: var(--bg-color);
    color: var(--text-color);
}

.signup-content form button {
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border: none;
    border-radius: 1rem;
    color: var(--bg-color);
    font-size: 1.6rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

.signup-content form button:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
    box-shadow: 0 0 1.6rem var(--main-color);
}

.signup-content p {
    margin-top: 2rem;
    font-size: 1.6rem;
    color: var(--text-color);
}

.signup-content p a {
    color: var(--main-color);
    text-decoration: none;
}

.signup-content p a:hover {
    text-decoration: underline;
}




/* Modal styles */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 80px; 
    opacity: 0.9;
    animation: fadeIn 0.5s ease;
}

.modal-content {
    background-color: #000000;
    margin: 5% auto; 
    padding: 20px;
    border: 1px solid var(--main-color);
    width: 80%; 
    max-width: 400px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    animation:slideIn 0.5s ease;
}

.close {
    color: #aaa;
    float: right;
    font-size:40px;
    font-weight: bold;
    border-radius: 0%;
}

.close:hover,
.close:focus {
    color: rgb(255, 0, 0);
    text-decoration: none;
    cursor: pointer;
    
}

.modal-content form input {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border: 1px solid var(--main-color);
    border-radius: 0.5rem;
    background: var(--bg-color);
    color: var(--text-color);
}

.modal-content form button {
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border: none;
    border-radius: 1rem;
    color: var(--bg-color);
    font-size: 1.6rem;
    cursor: pointer;
    transition: all 0.9s ease;
}

.modal-content form button:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
    box-shadow: 0 0 1.6rem var(--main-color);
}

.modal-content h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: var(--text-color);
}
.modal-content p {
    margin-top: 2rem;
    font-size: 1.6rem;
    color: var(--text-color);
}

.modal-content p a {
    color: var(--main-color);
    text-decoration: none;
}

.modal-content p a:hover {
    text-decoration: underline;
}

.modal-open .top-btn {
    display: none;
}

/* Keyframes for animations */
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes slideIn {
    from {transform: translateY(-50px); opacity: 0;}
    to {transform: translateY(0); opacity: 1;}
}

/* Welcome section styles */
.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--bg-color);
    padding: 3rem;
    text-align: center;
}

.welcome-content {
    max-width: 800px;
    width: 100%;
}

.welcome-content h1 {
    font-size:5rem;
    margin-bottom: 1rem;
}

.welcome-content p {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.welcome-content .btn {
    text-align: center;
    padding: 0.8rem 2rem;
    background:var(--bg-color);
    color: #fff;
    border: 2px solid var(--main-color);
    cursor: pointer;
    text-decoration: none;
    
    border-radius: 4rem;
}
.welcome-content .bmi{
    color: var(--text-color);
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 0.2rem;
    padding: 0.5rem 1rem;
    border-bottom:  3px solid transparent;;
    transition: all 0.5s ease;
}

.welcome-content .bmi:hover,
.welcome-content .bmi.active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
.services-content .gym{
    font-weight: 600;
    color: var(--text-color);

}

/* Media queries for responsiveness */
@media (max-width: 1200px) {
    .welcome-content h1 {
        font-size: 2.5rem;
    }

    .welcome-content p {
        font-size: 1rem;
    }

    .welcome-content .btn {
        padding: 0.6rem 1.5rem;
    }
}

@media (max-width: 768px) {
    .welcome-content h1 {
        font-size: 2rem;
    }

    .welcome-content p {
        font-size: 0.9rem;
    }

    .welcome-content .btn {
        padding: 0.5rem 1.2rem;
    }
}

@media (max-width: 480px) {
    .welcome-content h1 {
        font-size: 1.5rem;
    }

    .welcome-content p {
        font-size: 0.8rem;
    }

    .welcome-content .btn {
        padding: 0.4rem 1rem;
    }
}

/* BMI Calculator styles */
.bmi-calculator {
    padding: 50px;
    background:var(--bg-color);
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 50px 0;
}

.bmi-content {
    max-width: 600px;
    margin: 0 auto;
    background:var(--snd-bg-color);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--main-color);
}

.bmi-content h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: var(--main-color);
}

.bmi-content form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center; /* Center the button horizontally */
}

.bmi-content form .input-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%; /* Ensure input containers take full width */
}

.bmi-content form input {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%; /* Ensure inputs take full width */
}

.bmi-content form button {
    padding: 0.8rem 2rem;
    font-weight: 500;
    background: var(--bg-color);
    color: #fff;
    border: 2px solid var(--main-color);
    cursor: pointer;
    text-decoration: none;
    width: auto; /* Adjust width to fit content */
    border-radius: 4rem;
    transition: background 0.3s ease;
    text-align: center;
    margin-top: 10px; /* Add margin to separate from inputs */
}

.bmi-content form button:hover {
    background:var(--main-color);
}
.bmi-result {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    margin-top: 30px;
    font-size: 1.2rem;
    color: #ffffff;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .bmi-calculator {
        padding: 30px;
    }

    .bmi-content {
        padding: 20px;
    }

    .bmi-content h2 {
        font-size: 2rem;
    }

    .bmi-content form input,
    .bmi-content form button {
        padding: 10px;
        font-size: 0.9rem;
    }

    .bmi-result {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .bmi-calculator {
        padding: 20px;
    }

    .bmi-content {
        padding: 15px;
    }

    .bmi-content h2 {
        font-size: 1.5rem;
    }

    .bmi-content form input,
    .bmi-content form button {
        padding: 8px;
        font-size: 0.8rem;
    }

    .bmi-result {
        font-size: 0.9rem;
    }
}


/* BMi category code  */

.bmi-category {
    padding: 50px 20px;
    background-color: var(--bg-color);
    text-align: center;
}

.bmi-category .heading {
    align-items: center;
    font-size: 5em;
    margin-top: 70px;
    margin-bottom: 50px;
    color:var(--text-color);
}

.bmi-category .services-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.bmi-category .row {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    width: 250px;
    text-align: center;
}

.bmi-category .row:hover {
    transform: translateY(-10px);
}

.bmi-category .row img {
    width: 100%;
    height: auto;
}

.bmi-category .row h4 {
    font-size: 2.2em;
    margin: 15px 0;
    color: #000000;
}

@media (max-width: 768px) {
    .bmi-category .services-content {
        flex-direction: column;
        align-items: center;
    }
}


/* General styles for the section */
.beginner {
    padding: 50px 20px;
    background-color:var(--bg-color);
    text-align: center;
}

.beginner .heading {
    font-size: 4em;
    margin-bottom: 20px;
    color:var(--text-color);
}
.days {
    font-size: 3em;
    margin-bottom: 20px;
    color:var(--text-color);
}

/* Styles for the exercise details */
.exercise {
    background-color: var(--snd-bg-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px 0;
    text-align: left;
}

.exercise h5 {
    font-size: 2em;
    margin-bottom: 5px;
}

.exercise p {
    text-align: center;
    font-size: 2rem;
    color:#fafafa;
}
.rest p{
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-color);
}

/* Responsive styles */
@media (max-width: 768px) {
    .beginner {
        padding: 30px 10px;
    }

    .beginner .heading {
        font-size: 2em;
    }

    .exercise {
        padding: 15px;
    }

    .exercise h5 {
        font-size: 1em;
    }

    .exercise p {
        font-size: 0.9em;
    }
    .rest p{
        font-size: 0.9em;
    }
}

.tip {
    font-size: 1.5rem;
    font-weight: 600;
    background-color: var(--snd-bg-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px 0;
    text-align: left;
}
.exercise-levels{
    text-align: center;
    padding: 0.8rem 2rem;
    background:var(--bg-color);
    color: #fff;
    border:var(--bg-color);
    cursor: pointer;
    text-decoration: none;
    font-size: 4rem;
    border-radius: 4rem;
}
.exercise-levels .btn {
    text-align: center;
    padding: 1rem 3rem;
    background:var(--bg-color);
    color: #fff;
    border: 2px solid var(--main-color);
    cursor: pointer;
    text-decoration: none;
    border-radius: 4rem;
}

h5{
    font-size: 2rem;
    font-weight: 800;
}
.exercise h4{
    font-size: 1.5rem;
    font-weight: 800;
}


.pass {
    position: relative;
    width: 100%;
}

.pass i {
    width: 30%;
    padding-right: 20px;
    padding-left: 420px;
    padding-bottom: 20px;
    padding-top: 5px; /* Adjust padding to make space for the icon */
}

.pass .fa-eye,
.pass .fa-eye-slash {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}
